﻿@model CineApp.Persistence.Cine

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Cine</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreCine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreCine)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Departamento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Departamento)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
