﻿@model CineApp.Persistence.Cine

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Cine</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreCine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreCine)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Departamento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Departamento)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CineId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
