﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .asiento-p {
        font-size: 30px;
        margin-bottom: 2rem;
    }

    .asiento-bloqueado {
        color: #6B6B6B;
    }
</style>

<div ng-app="myApp">
    <div ng-controller="CtrlEntradaOnline" ng-init="GetAllData()" class="divList container">
        <h2>Comprar Entrada</h2>

        <div id="container1" class="">

            <form id="form" action="#" method="post">


                <div class="d-none" id="inf-user">
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <h2>Hola {{socio.Nombres}} {{socio.Apellidos}}</h2>
                        </div>


                        <h3>Puntos:<span id="nameSocioTittle" class="badge badge-primary">{{socio.Puntos}}</span></h3>
                    </div>

                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Cine</label>
                        <select class="custom-select" name="repeatSelect1" id="repeatSelect1" ng-model="cine">
                            <option ng-repeat="cine in cines" value="{{cine.CineId}}">{{cine.NombreCine}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Pelicula</label>
                        <select class="custom-select" name="repeatSelect2" id="repeatSelect2" ng-model="pelicula">
                            <option ng-repeat="pelicula in peliculas" value="{{pelicula.PeliculaId}}">{{pelicula.NombrePelicula}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Sala</label>
                        <select class="custom-select" name="repeatSelect4" id="repeatSelect4" ng-model="sala">
                            <option ng-repeat="sala in salas" value="{{sala.SalaId}}">{{sala.NombreSala}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Horario</label>
                        <select class="custom-select" name="repeatSelect3" id="repeatSelect3" ng-model="horario">
                            <option ng-repeat="horario in horarios" value="{{horario.HorarioId}}">{{horario.HoraInicio}}-{{horario.HoraFin}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="inputEmail4">Sala</label>
                        <input class="form-control" type="date" id="input-date">
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="VerificarAsientos()">Ver asientos disponibles</button>
                    </div>

                </div>

                <div id="asientosDiv" class="form-row">
                    @*  <div ng-repeat="asiento in asientos">
                    <input class="form-unput-check" type="checkbox" ng-model="asiento.AsiendoId" />
                        <span>{{asiento.NombreAsiento}}</span>


                    </div>*@

                </div>
                <div id="div-calcular" class="form-row d-none">
                    <div class="form-group col-12">
                        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="Calcular()">Calcular</button>
                    </div>

                </div>
                <div id="div-hidden" class="form-row d-none">
                    <div class="form-group col">
                        <h3>Quetzales:<span id="span-dinero" class="badge badge-primary">Q 200</span></h3>
                        <h3>Puntos:<span id="span-puntos" class="badge badge-primary">40</span></h3>
                    </div>
                    <div class="form-group col">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Tarjeta de Crédito
                        </label>
                    </div>
                    <div id="radio-puntos" class="form-group col d-none">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Puntos del Socio
                        </label>
                    </div>
                    <div class="form-group col">
                        <label for="password">Para completar su reservación ingrese una contraseña:</label>
                        <input ng-model="password" type="pasword" class="form-control" id="passwordinput" aria-describedby="emailHelp" placeholder="Ingresar contraseña">
                        <small id="emailHelp" class="form-text text-muted">Ingrese una contraseña fácil de recordar</small>
                    </div>
                    <div class="form-group col-12">
                        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="HacerReservacion()">Hacer Reservacion</button>
                    </div>

                </div>



            </form>




        </div>
        <div id="container2" class="d-none">
            <div class="alert alert-success" role="alert">
                <h2>Reservación realizada con éxito</h2>
            </div>
            <form action="/" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <h4><strong>Reservación Id</strong></h4>
                        <h4>{{reservacion.TicketId}}</h4>
                    </div>
                    <div class="form-group col-md-6">
                        <h4><strong>Contraseña de Reservación</strong></h4>
                        <h4>{{reservacion.password}}</h4>
                    </div>
                </div>


            </form>

        </div>
        <div id="container3" class="d-none"></div>


    </div>
</div>




@section Scripts {
    @Scripts.Render("~/angular/entradaonline")
}







