﻿@model IEnumerable<CineApp.UnitOfWork.Repositories.PeliculaItem>
@{
    ViewBag.Title = "Página principal";
    var mensaje = ViewBag.Mensaje;
}
@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Para obtener más información sobre ASP.NET MVC, visite
                <a href="http://asp.net/mvc" title="Sitio web de ASP.NET MVC">http://asp.net/mvc</a>.
                La página incluye <mark>vídeos, cursos y ejemplos</mark> para ayudarle a sacar el máximo partido a ASP.NET MVC.
                Si tiene alguna pregunta relacionada con ASP.NET MVC, visite
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="Foro de ASP.NET MVC">nuestros foros</a>.
            </p>
        </div>
    </section>
}*@


<div class="container">

   

    <div class="card-columns" style="margin-top: 30px;">

        @foreach (var item in Model)
        {
   
            
            <div class="card">
                <img class="card-img-top" src="@item.Imagen" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.NombrePelicula</h5>
                    <p class="card-text">@item.Descripcion</p>
                    <div class="text-center">
                        
                        <a class="btn btn-primary" style="margin-top: 5px;" href="/EntradaOnline">Comprar Entrada</a>
                        <a  class="btn btn-danger" style="margin-top: 5px;" href="/CancelarEntrada">CancelarEntrada</a>
                        

                    </div>
                </div>
            </div>
                
        }





    </div>



</div>


