﻿@model IEnumerable<CineApp.Persistence.Empleado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div ng-app="myApp" class="container">
    <h2>Index</h2>

    <a href="/Empleado/Registro" class="btn btn-success">Crear Empleado</a>

        <div id="table" ng-controller="Ctrlempleados" ng-init="GetAllEmpleados()">
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td>
                    <b>Cine</b>
                </td>
                <td>
                    <b>Username</b>
                </td>
                <td>
                    <b>Nombres</b>
                </td>
                <td>
                    <b>Apellidos</b>
                </td>
                <td>
                    <b>Contraseña</b>
                </td>
                @*<td>
                    <b>Puntos</b>
                </td>*@
                <td>
                    <b>TipoEmpleado</b>
                </td>
                <td>
                    <b>Activado</b>
                </td>
                <td>
                    <b>Operación</b>
                </td>

            </tr>
            <tr ng-repeat="Empleado in empleados">
                <td>{{Empleado.NombreCine}}  
                </td>
                <td>{{Empleado.Username}}  
                </td>
                <td>{{Empleado.Nombres}}  
                </td>
                <td>{{Empleado.Apellidos}}  
                </td>
                <td>{{Empleado.Contrasena}}  
                </td>
                @*<td>{{Empleado.NumPuntos}}  
                </td>*@
                <td>{{Empleado.NombreTipoEmpleado}}  
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input id="cb-{{Empleado.EmpleadoId}}" type="checkbox" class="custom-control-input" ng-model="Empleado.isActived" ng-click="ChangeState(Empleado)">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <input type="button" class="btn btn-warning" value="Ver" ng-click="Update(Empleado)" />
                    <input type="button" class="btn btn-danger" value="Delete" ng-click="Delete(Empleado)" />
                </td>
            </tr>
        </table>
    </div>



</div>

@section Scripts {
    @Scripts.Render("~/angular/empleados")
}

<style>

    .custom-checkbox {
  min-height: 1rem;
  padding-left: 0;
  margin-right: 0;
  cursor: pointer; 
}
  .custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none; 
  }
    .custom-checkbox .custom-control-indicator:after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #f1f1f1;
      border-radius: 21px;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
      left: -2px;
      top: -4px;
      -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
      transition: left .3s ease, background .3s ease, box-shadow .1s ease; 
    }
  .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #84c7c1;
    background-image: none;
    box-shadow: none !important; 
  }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
      background-color: #84c7c1;
      left: 15px; 
    }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important; 
  }
</style>



