﻿@model CineApp.Controllers.OfModels.EmpleadoRegisterItem

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div ng-app="myApp">
    <div class="container">

        @if (@Model == null)
        {
            <div id="formAdd" ng-controller="CtrlregistroEmpleado">
                <form id="frmcrear" action="" method="post" enctype="multipart/form-data">

                    <div class="form-row">

                        <div class="form-group col-12"></div>

                        <div class="alert alert-info col-12 text-center" role="alert">
                            <h2>Crear Empleado de <strong>Cine +</strong></h2>
                        </div>
                    </div>

                    <div class="form-row">
                        <h3>Datos Personales</h3>
                    </div>
                    <div class="form-row has-success">


                        <div class="form-group col-6 col-xs-12">
                            <label class="form-control-label">Nombres</label>
                            <input class="form-control form-control-success" type="text" name="Nombres" id="nombres" value="" required />
                        </div>
                        <div class="form-group col-6 col-xs-12">
                            <label class="form-control-label">Apellidos</label>
                            <input class="form-control" type="text" id="apellidos" name="Apellidos" value="" required />
                        </div>
                    </div>
                    
                    <div class="form-row has-success">


                        <div class="form-group col-4">
                            <label class="form-control-label">Correo</label>
                            <input class="form-control form-control-success" id="correo" type="text" name="Correo" value="" required />
                        </div>
                        <div class="form-group col-4">
                            <label class="form-control-label">Elija el cine</label>
                            <select class="custom-select" name="CineId" id="repeatSelect1" ng-model="cine">
                                <option ng-repeat="cine in cines" value="{{cine.CineId}}">{{cine.NombreCine}}</option>
                            </select>

                        </div>
                        <div class="form-group col-4">
                            <label class="form-control-label">DPI</label>
                            <input class="form-control form-control-success" id="dpi" type="text" name="Dpi" value="" required />
                        </div>

                    </div>
                    <div class="form-row">
                        <h3>Datos Usuario</h3>
                    </div>
                    <div class="form-row has-success">

                        <div class="form-group col-4 col-xs-12">
                            <label class="form-control-label">Contraseña</label>
                            <input class="form-control" type="password" id="contrasena" name="Contrasena" value="" required />
                        </div>
                        <div class="form-group col-4 col-xs-12">
                            <label class="form-control-label">Repetir contraseña</label>
                            <input class="form-control" type="password" id="contrasena2" name="contrasena2" value="" required />
                        </div>
                         <div class="form-group col-4">
                            <label class="form-control-label">Tipo de Empleado</label>
                            <select class="custom-select" name="TipoEMpleadoId" id="repeatSelect2" ng-model="tipoempleado">
                                <option ng-repeat="te in tipoempleados" value="{{te.TipoEmpleadoId}}">{{te.NombreTipoEmpleado}}</option>
                            </select>

                        </div>
                    </div>
              

                    <div class="form-row has-success ">


                        <div id="alert-div" class="alert alert-danger col-12 text-center d-none" role="alert">
                        </div>


                    </div>

                    <div class="form-row" style="margin: 20px;">

                        <div class="form-group col-12">
                            <button type="button" class="btn btn-success btn-lg btn-block" id="btncrear">Crear Empleado</button>
                        </div>

                    </div>








                </form>
            </div>
            
        }
        else
        {
            @*<div id="formSucess" class="">
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-success">
                            <strong>Éxito!</strong> Te has registrado con éxito.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h2>Resumen de tu registro:</h2>
                </div>

                <div class="form-row">
                    <div class="form-group col-6">
                        <label class="form-control"><strong>Username:</strong></label>
                        <label class="form-control">@Html.EditorFor(model => model.)</label>
                    </div>
                    <div class="form-group col-6">
                        <label class="form-control"><strong>Contraseña:</strong></label>
                        <label class="form-control">@Html.EditorFor(model => model.Contraseña)</label>
                    </div>
                </div>

            </div>*@
        }








    </div>


</div>






@section Scripts {
    @Scripts.Render("~/angular/registroempleado")
}


