﻿@model CineApp.Persistence.Asociado

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Asociado</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SocioId, "Socio")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SocioId", String.Empty)
            @Html.ValidationMessageFor(model => model.SocioId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CineId, "Cine")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CineId", String.Empty)
            @Html.ValidationMessageFor(model => model.CineId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
