﻿@model CineApp.Persistence.Asociado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Asociado</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Socio.CodCliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Socio.CodCliente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cine.NombreCine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cine.NombreCine)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AsociadoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
