﻿@model IEnumerable<CineApp.Persistence.Asociado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<h2>Index</h2>

<div class="container" ng-app="myApp">

    <div id="table" ng-controller="Ctrlasociados" ng-init="GetAllData()">
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td>
                    <b>Cine</b>
                </td>
                <td>
                    <b>Username</b>
                </td>
                <td>
                    <b>Nombres</b>
                </td>
                <td>
                    <b>Apellidos</b>
                </td>
                @*<td>
                    <b>Contraseña</b>
                </td>*@
                <td>
                    <b>Puntos</b>
                </td>
                <td>
                    <b>TipoSocio</b>
                </td>
                <td>
                    <b>Activado</b>
                </td>
                <td>
                    <b>Operación</b>
                </td>

            </tr>
            <tr ng-repeat="Asociado in asociados">
                <td>{{Asociado.NombreCine}}  
                </td>
                <td>{{Asociado.Username}}  
                </td>
                <td>{{Asociado.Nombres}}  
                </td>
                <td>{{Asociado.Apellidos}}  
                </td>
                @*<td>{{Asociado.Contraseña}}  
                </td>*@
                <td>{{Asociado.NumPuntos}}  
                </td>
                <td>{{Asociado.NombreTipoSocio}}  
                </td>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input id="cb-{{Asociado.SocioId}}" type="checkbox" class="custom-control-input" ng-model="Asociado.isActived" ng-click="ChangeState(Asociado)">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <input type="button" class="btn btn-warning" value="Ver" ng-click="Update(Pelicula)" />
                    <input type="button" class="btn btn-danger" value="Delete" ng-click="Delete(Pelicula)" />
                </td>
            </tr>
        </table>
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/angular/asociados")
}

<style>

    .custom-checkbox {
  min-height: 1rem;
  padding-left: 0;
  margin-right: 0;
  cursor: pointer; 
}
  .custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none; 
  }
    .custom-checkbox .custom-control-indicator:after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #f1f1f1;
      border-radius: 21px;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
      left: -2px;
      top: -4px;
      -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
      transition: left .3s ease, background .3s ease, box-shadow .1s ease; 
    }
  .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #84c7c1;
    background-image: none;
    box-shadow: none !important; 
  }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
      background-color: #84c7c1;
      left: 15px; 
    }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important; 
  }
</style>
