﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var mensaje = ViewBag.mensaje;
}

<div class="container">

    <div id="alertContainer">
         @if (mensaje=="Su reservación se ha cancelado con éxito.")
    {
        <script>
            $(document).ready(function () {

                $("#container1").addClass("d-none");
                $("#alertContainer").empty();
                $("#alertContainer").append("<div class='alert alert-success' role='alert'><h2>@mensaje</h2></div>");
            });

        </script>
        <div class="alert alert-success" role="alert">
                <h2>Reservación cancelada con éxito</h2>
            </div>
        
    }
 else
 {
             <script>
                 $(document).ready(function () {

                     $("#alertContainer").empty();
                     $("#alertContainer").append("<div class='alert alert-danger' role='alert'><h2>@mensaje</h2></div>");

                 });

        </script>
             
             
      
     
 }


    </div>





<div id="container1">
    <h2>Cancelar Entrada</h2>
    <form action="CancelarEntrada" method="post">
        <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Id Entrada</label>
                        <input type="text" name="TicketId" class="form-control" value="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Contraseña</label>
                        <input type="password" name="Contrasena" class="form-control" value="" />
                    </div>
                </div>


        <button type="submit" class="btn btn-danger"><i class="fa fa-sign-in"></i>Cancelar Reservación</button>
    </form>

</div>


</div>







@section Scripts {
    @Scripts.Render("~/angular/entradaonline")
}







