﻿@model CineApp.Persistence.Cartelera

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Cartelera</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Horario.Dia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Horario.Dia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pelicula.NombrePelicula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pelicula.NombrePelicula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sala.NombreSala)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sala.NombreSala)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstadoCartelera.NombreEstadoCartelera)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstadoCartelera.NombreEstadoCartelera)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
