﻿@model CineApp.Persistence.Cartelera

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Cartelera</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Horario.Dia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Horario.Dia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pelicula.NombrePelicula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pelicula.NombrePelicula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sala.NombreSala)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sala.NombreSala)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstadoCartelera.NombreEstadoCartelera)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstadoCartelera.NombreEstadoCartelera)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CarteleraId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
