﻿@model CineApp.Persistence.Cartelera

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cartelera</legend>

        @Html.HiddenFor(model => model.CarteleraId)

        <div class="editor-label">
            @Html.LabelFor(model => model.HorarioId, "Horario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("HorarioId", String.Empty)
            @Html.ValidationMessageFor(model => model.HorarioId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PeliculaId, "Pelicula")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PeliculaId", String.Empty)
            @Html.ValidationMessageFor(model => model.PeliculaId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SalaId, "Sala")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SalaId", String.Empty)
            @Html.ValidationMessageFor(model => model.SalaId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstadoCarteleraId, "EstadoCartelera")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EstadoCarteleraId", String.Empty)
            @Html.ValidationMessageFor(model => model.EstadoCarteleraId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
