﻿@model IEnumerable<CineApp.Persistence.Cartelera>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}



<style>
    .btn-space {
        margin-left: -5%;
        background-color: cornflowerblue;
        font-size: large;
    }

    .table-cartelera {
        overflow: auto;
    }
</style>

<div ng-app="myApp">
    <div ng-controller="CtrlCartelera" ng-init="GetAllData()" class="divList container">
        <h2>Cartelera</h2>
        @* <!--foRMUARIO PARA AGREGAR PELO -->
        <div id="formAdd" class="form-horizontal" role="form">
            <div class="">
                <div class="row">
                    <h2>
                        <span id="spn">Agregar nueva película</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Nombre</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="NombrePelicula" placeholder="Nombre de Pelicula" ng-model="NombrePelicula">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Categoría</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="Clasificacion" placeholder="Clasificación" ng-model="Clasificacion">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Duración</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="Duracion" placeholder="Duración" ng-model="Duracion">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <input type="button" id="btnSave" class="form-control btn-space" value="Submit" ng-click="InsertData()" />
                    </div>
                </div>
            </div>
        </div>
        <!--tERMINA foRMULARIO -->*@
        <p data-placement="top" data-toggle="tooltip" title="Crear">
            <button class="btn btn-primary" data-title="Crear" data-toggle="modal" data-target="#crear"><span class="glyphicon glyphicon-plus"></span>Agregar</button>
        </p>


        <div class="alert alert-info alert-dismissible fade show hidden" role="alert" id="alerta">
            <button type="button" class="close hidden" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Mensaje!</strong> {{alertmessage}}
        </div>

        <div style="overflow-x: auto;">


            <table cellpadding="12" class="table table-bordered table-hover table-cartelera">
                <tr>
                    @*<td class="hidden-md-down">
                        <b>CarteleraId</b>
                    </td>
                    <td class="hidden">
                        <b>PeliculaId</b>
                    </td>
                    <td>
                        <b>EstadoCarteleraId</b>
                    </td>
                    <td>
                        <b>HorarioId</b>
                    </td>

                    <td>
                        <b>CineId</b>
                    </td>
                    <td>
                        <b>SalaId</b>
                    </td>*@
                    <td>
                        <b>NombrePelicula</b>
                    </td>
                    <td>
                        <b>NombreEstadoCartelera</b>
                    </td>
                    <td>
                        <b>HoraInicio</b>
                    </td>
                    <td>
                        <b>HoraFin</b>
                    </td>
                    @*<td>
                        <b>Día</b>
                    </td>*@
                    <td>
                        <b>NombreSala</b>
                    </td>
                    <td>
                        <b>NombreCine</b>
                    </td>
                    <td>
                        <b>Operaciones</b>
                    </td>


                </tr>
                <tr ng-repeat="Cartelera in carteleras">
                    @*<td class="hidden">{{Cartelera.CarteleraId}}  
                    </td>
                    <td class="hidden">{{Cartelera.PeliculaId}}  
                    </td>
                    <td>{{Cartelera.EstadoCarteleraId}}  
                    </td>
                    <td class="hidden">{{Cartelera.HorarioId}}  
                    </td>
                    <td>{{Cartelera.CineId}}  
                    </td>
                    <td>{{Cartelera.SalaId}}  *@
                    </td>
                    <td>{{Cartelera.NombrePelicula}}  
                    </td>
                    <td>{{Cartelera.NombreEstadoCartelera}}  
                    </td>
                    <td>{{Cartelera.HoraInicio}}  
                    </td>
                    <td>{{Cartelera.HoraFin}}  
                    </td>
                   @* <td>{{Cartelera.Dia}}  
                    </td>*@
                    <td>{{Cartelera.NombreSala}}  
                    </td>
                    <td>{{Cartelera.NombreCine}}  
                    </td>
                    <td>
                        <input type="button" class="btn btn-warning" value="Update" ng-click="Update(Cartelera)" />
                        <input type="button" class="btn btn-danger" value="Delete" ng-click="Delete(Cartelera)" />
                    </td>
                </tr>
            </table>

        </div>

        <!-- Termina table responsive-->

        @*NUeva Cartelera*@
        <div class="modal fade" id="crear" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">Crear Cartelera</h4>
                    </div>


                    <form id="form" action="#" method="post">

                        <fieldset>
                            <div class="modal-body">



                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Cine</label>
                                        <select class="custom-select" name="repeatSelect1" id="repeatSelect1" ng-model="cine">
                                            <option ng-repeat="cine in cines" value="{{cine.CineId}}">{{cine.NombreCine}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">Sala</label>
                                        <select class="custom-select" name="repeatSelect2" id="repeatSelect2" ng-model="sala">
                                            <option ng-repeat="sala in salas" value="{{sala.SalaId}}">{{sala.NombreSala}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Horario</label>
                                        <select class="custom-select" name="repeatSelect4" id="repeatSelect4" ng-model="horario">
                                            <option ng-repeat="horario in horarios" value="{{horario.HorarioId}}">{{horario.HoraInicio}}-{{horario.HoraFin}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">Estado Cartelera</label>
                                        <select class="custom-select" name="repeatSelect3" id="repeatSelect3" ng-model="estadocartelera">
                                            <option ng-repeat="estadocartelera in estadocarteleras" value="{{estadocartelera.EstadoCarteleraId}}">{{estadocartelera.NombreEstadoCartelera}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="inputEmail4">Pelicula</label>
                                        <select class="custom-select" name="repeatSelect5" id="repeatSelect5" ng-model="pelicula">
                                            <option ng-repeat="pelicula in peliculas" value="{{pelicula.PeliculaId}}">{{pelicula.NombrePelicula}}</option>
                                        </select>
                                    </div>

                                </div>









                            </div>

                            <div class="modal-footer">
                                <div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="InsertData()" id="btnSave" value="Submit">Guardar</button>

                                </div>

                            </div>
                        </fieldset>


                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        @*End Modal*@

    </div>
    @Html.Hidden("HorarioId")

    <!-- Modal -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cine +</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{alertmessage}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/angular/cartelera")
}







