﻿@model CineApp.Persistence.Socio

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Socio</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Socio2.CodCliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Socio2.CodCliente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CodCliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CodCliente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellidos)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellidos)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DiaNacimiento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiaNacimiento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MesNacimiento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MesNacimiento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AñoNacimiento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AñoNacimiento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumPuntos)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumPuntos)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CarneEscolar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarneEscolar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CarneAnciano)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarneAnciano)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstadoSocio.NombreEstado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstadoSocio.NombreEstado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoSocio.NombreTipoSocio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoSocio.NombreTipoSocio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contraseña)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contraseña)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
