﻿@model CineApp.Persistence.Socio

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Socio</legend>

        @Html.HiddenFor(model => model.SocioId)

        <div class="editor-label">
            @Html.LabelFor(model => model.SocioRecomendadoId, "Socio2")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SocioRecomendadoId", String.Empty)
            @Html.ValidationMessageFor(model => model.SocioRecomendadoId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodCliente)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CodCliente)
            @Html.ValidationMessageFor(model => model.CodCliente)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombres)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombres)
            @Html.ValidationMessageFor(model => model.Nombres)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Apellidos)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Apellidos)
            @Html.ValidationMessageFor(model => model.Apellidos)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiaNacimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiaNacimiento)
            @Html.ValidationMessageFor(model => model.DiaNacimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MesNacimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MesNacimiento)
            @Html.ValidationMessageFor(model => model.MesNacimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AñoNacimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AñoNacimiento)
            @Html.ValidationMessageFor(model => model.AñoNacimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumPuntos)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumPuntos)
            @Html.ValidationMessageFor(model => model.NumPuntos)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarneEscolar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CarneEscolar)
            @Html.ValidationMessageFor(model => model.CarneEscolar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarneAnciano)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CarneAnciano)
            @Html.ValidationMessageFor(model => model.CarneAnciano)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstadoSocioId, "EstadoSocio")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EstadoSocioId", String.Empty)
            @Html.ValidationMessageFor(model => model.EstadoSocioId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TipoSocioId, "TipoSocio")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TipoSocioId", String.Empty)
            @Html.ValidationMessageFor(model => model.TipoSocioId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contraseña)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contraseña)
            @Html.ValidationMessageFor(model => model.Contraseña)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
