﻿@model CineApp.Persistence.Socio

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="myApp">
    <div class="container">

        @if (@Model==null)
        {
            <div id="formAdd"  ng-controller="Ctrlregistro">
        <form id="frmcrear" action="" method="post" enctype="multipart/form-data">

            <div class="form-row">

                <div class="form-group col-12"></div>

                <div class="alert alert-info col-12 text-center" role="alert">
                    <h2>Crear tu cuenta en <strong>Cine +</strong> y disfruta de los beneficios</h2>
                </div>
            </div>

            <div class="form-row">
                <h3>Datos Personales</h3>
            </div>
            <div class="form-row has-success">


                <div class="form-group col-6 col-xs-12">
                    <label class="form-control-label">Nombres</label>
                    <input class="form-control form-control-success" type="text" name="nombres" id="nombres" value="" required />
                </div>
                <div class="form-group col-6 col-xs-12">
                    <label class="form-control-label">Apellidos</label>
                    <input class="form-control" type="text" id="apellidos" name="apellidos" value="" required />
                </div>
            </div>
            <div class="form-row has-success">


                <div class="form-group col-4 col-xs-12">
                    <label class="form-control-label">Fecha de Nacimiento</label>
                    <input class="form-control form-control-success" id="fecha" type="date" name="fecha" value="" required />
                </div>
                <div class="form-group col-4 col-xs-12">
                    <label class="form-control-label">Carné escolar</label>
                    <input class="form-control" type="text" name="estudiante" value="" />
                </div>
                <div class="form-group col-4 col-xs-12">
                    <label class="form-control-label">Carné juvilación</label>
                    <input class="form-control" type="text" name="jubilacion" value="" />
                </div>
            </div>
            <div class="form-row has-success">


                <div class="form-group col-4 col-xs-12">
                    <label class="form-control-label">Username de la persona que te sugirió</label>
                    <input class="form-control form-control-success" id="fecha" type="text" name="usersugerido" value="" required />
                </div>
                <div class="form-group col-4 col-xs-12">
                    <label class="form-control-label">Elija el cine</label>
                    <select class="custom-select" name="repeatSelect1" id="repeatSelect1" ng-model="cine">
                                            <option ng-repeat="cine in cines" value="{{cine.CineId}}">{{cine.NombreCine}}</option>
                                        </select>
                </div>
              
            </div>
            <div class="form-row">
                <h3>Datos Usuario</h3>
            </div>
            <div class="form-row has-success">


                <div class="form-group col-4 col-xs-12">
                    <label class="form-control-label">Username</label>
                    <input class="form-control form-control-success" id="username" type="text" name="username" value="" required />
                </div>
                <div class="form-group col-4 col-xs-12">
                    <label class="form-control-label">Contraseña</label>
                    <input class="form-control" type="text" id="contrasena" name="contrasena" value="" required />
                </div>
                <div class="form-group col-4 col-xs-12">
                    <label class="form-control-label">Repetir contraseña</label>
                    <input class="form-control" type="text" id="contrasena2" name="contrasena2" value="" required />
                </div>
            </div>
            <div class="form-row has-success">



                <label for="exampleInputFile">Foto de Carnet</label>
                <input type="file" class="form-control-file" name="file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Sube una imagen de tu carnet si tuvieras.</small>


            </div>

            <div class="form-row has-success ">


                <div id="alert-div" class="alert alert-danger col-12 text-center d-none" role="alert">
                    
                </div>


            </div>

            <div class="form-row" style="margin: 20px;">

                <div class="form-group col-12">
                    <button type="button" class="btn btn-success btn-lg btn-block" id="btncrear" >Crear Cuenta</button>
                </div>

            </div>








        </form>
    </div>
            
        }else{
              <div id="formSucess" class="">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-success">
                    <strong>Éxito!</strong> Te has registrado con éxito.
                </div>
            </div>
        </div>

        <div class="row">
            <h2>Resumen de tu registro:</h2>
        </div>

        <div class="form-row">
            <div class="form-group col-6">
                <label class="form-control"><strong>Username:</strong></label>
                <label class="form-control">@Html.EditorFor(model => model.CodCliente)</label>
            </div>
            <div class="form-group col-6">
                <label class="form-control"><strong>Contraseña:</strong></label>
                <label class="form-control">@Html.EditorFor(model => model.Contraseña)</label>
            </div>
        </div>

    </div>
        }




    
  


</div>


</div>






@section Scripts {
   @Scripts.Render("~/angular/registrosocio")
}


