﻿@model CineApp.Persistence.Pelicula

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Pelicula</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NombrePelicula)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NombrePelicula)
            @Html.ValidationMessageFor(model => model.NombrePelicula)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duracion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duracion)
            @Html.ValidationMessageFor(model => model.Duracion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Clasificacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Clasificacion)
            @Html.ValidationMessageFor(model => model.Clasificacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstadoPeliculaId, "EstadoPelicula")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EstadoPeliculaId", String.Empty)
            @Html.ValidationMessageFor(model => model.EstadoPeliculaId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
