﻿@model CineApp.Persistence.Pelicula

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Pelicula</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombrePelicula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombrePelicula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Duracion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duracion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Clasificacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Clasificacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstadoPelicula.NombreEstadoPelicula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstadoPelicula.NombreEstadoPelicula)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
