﻿@model CineApp.Persistence.Pelicula

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Pelicula</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombrePelicula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombrePelicula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Duracion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duracion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Clasificacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Clasificacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstadoPelicula.NombreEstadoPelicula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstadoPelicula.NombreEstadoPelicula)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PeliculaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
