﻿@model IEnumerable<CineApp.Persistence.Pelicula>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<h2>Index</h2>


@{  
    ViewBag.Title = "Index";  
}

<style>
    .btn-space {
        margin-left: -5%;
        background-color: cornflowerblue;
        font-size: large;
    }
</style>

<div ng-app="myApp">
    <div class="container" ng-controller="CtrlPelicula" ng-init="GetAllData()" class="divList container">

        <!--foRMUARIO PARA AGREGAR PELO -->
        <div class="form-horizontal" role="form">
        
            <form action="Pelicula/CrearPelicula" method="post" enctype="multipart/form-data">
                                <div class="row">
                    <h2>
                        <span id="spn">Agregar nueva película</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Nombre</label>
                            <div class="col-md-8">
                                <input type="text" name="NombrePelicula" class="form-control-file" id="NombrePelicuka">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Categoría</label>
                            <div class="col-md-8">
                             <input type="text" name="Clasificacion" class="form-control-text" id="Clasificacion">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Duración</label>
                            <div class="col-md-8">
                               <input type="text" name="Duracion" class="form-control-text" id="Duracion">
                            </div>
                        </div>
                    </div>
                     <div class="col-12">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Descripción</label>
                            <div class="col-12">
                               <textarea name="Descripcion" class="form-control" id="Descripcion" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Example file input</label>
                        <input type="file" name="file" class="form-control-file" id="file">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <input type="submit" id="btnSave" class="form-control btn-space" value="Submit" ng-click="InsertData()" />
                    </div>
                </div>


            </form>
           
        </div>
        <!--tERMINA foRMULARIO -->

        <p class="divHead">Lista de Películas</p>
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td>
                    <b>PeliculaId</b>
                </td>
                <td>
                    <b>Nombre</b>
                </td>
                <td>
                    <b>Categoría</b>
                </td>
                <td>
                    <b>Duración</b>
                </td>
                <td>
                    <b>Operación</b>
                </td>

            </tr>
            <tr ng-repeat="Pelicula in peliculas">
                <td>{{Pelicula.PeliculaId}}  
                </td>
                <td>{{Pelicula.NombrePelicula}}  
                </td>
                <td>{{Pelicula.Clasificacion}}  
                </td>
                <td>{{Pelicula.Duracion}}  
                </td>
                <td>
                    <input type="button" class="btn btn-warning" value="Update" ng-click="Update(Pelicula)" />
                    <input type="button" class="btn btn-danger" value="Delete" ng-click="Delete(Pelicula)" />
                </td>
            </tr>
        </table>



    </div>
    @Html.Hidden("EmpID_")

</div>



@section Scripts {
    @Scripts.Render("~/angular/pelicula")
}




























