﻿<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mi aplicación ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
       @* @Styles.Render("~/Content/css")*@
         @Scripts.Render("~/bundles/jquery")

        @Styles.Render("~/Content/bootstrap/css")
        @Styles.Render("~/Content/bootstrap/fonts")
        @Scripts.Render("~/bundles/modernizr")
         @Styles.Render("~/Content/micss")

        @Scripts.Render("~/bundles/bootstrap")
       
         @Scripts.Render("~/bundles/mijs")

        @Scripts.Render("~/bundles/angularjs")





        

         




      

    </head>
    <body>
        <header>
            <div class="content-wrapper">
              

                <div class="float-center">
                     @*Aqui empieza el menu de bootstrap*@

                   @Html.Partial("Menu2")


                    @*Aqui termina el menu boostrap*@

                </div>
            </div>
          
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET MVC</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
