﻿

    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Cine +</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample06">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/Home">Inicio <span class="sr-only">(current)</span></a>
          </li>
         
        
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ventas</a>
            <div class="dropdown-menu" aria-labelledby="dropdown06">
              <a class="dropdown-item" href="/Pelicula">Vender Entradas</a>
              <a class="dropdown-item" href="/Cartelera">Vender Snacks</a>
              
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search">
        </form>
          <ul class="nav navbar-nav pull-right ">
                               
                               @*Login*@
                                @if (Request.IsAuthenticated) {
                                   
                                 <li class="nav-item dropdown"> @Html.ActionLink(User.Identity.Name, "#", "#", routeValues: null, htmlAttributes: new { @class = "username nav-link dropdown-toggle", title = "Administrar", id="minombre", data_toggle="dropdown", role="button", aria_haspopup="true", aria_expanded="false"  }) 
                                        <div class="dropdown-menu" aria-labelledby="dropdown06">
                                            @Html.ActionLink("Mi Cuenta", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username dropdown-item", title = "Administrar" })
                                            @Html.ActionLink("Cerrar Sesion", "LogOff", "Account", routeValues: null, htmlAttributes: new { @class = "username dropdown-item", title = "Administrar" })
                                            
                                           
                                       </div>
                                </li>
                                }
                                else
                                {
                               
                                 
                                    <li class="nav-item active">@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { @class="nav-link", id = "loginLink" })</li>
                                
                            }

                                @*FIn Login*@
                            </ul>
      </div>
    </nav>

